In [3]:
# 1.Convert an integer to a floatig-point number.
a=10
b=float(a)
print(b)

10.0

In [1]:
# 2.Convert a float to a integer.
a= 10.0
b=int(a)
print(b)
type(b)

10

int

In [2]:
#3. convert a integer  to string
a=10
b= str(a)
print(b)
type(b)

10

str

In [3]:
# 4.convert a list to a tuple
list1 =[1,2,3,4]
tuple1 = tuple(list1)
print(tuple1)

(1, 2, 3, 4)

In [4]:
# 5. convert a tuple to a list
tuple1 =(1,2,3,4)
list1 = list(tuple1)
print(list1)

[1, 2, 3, 4]

In [5]:
#6. convert a decimal number to binary
a=10
b=bin(a)
print(b)

0b1010

In [6]:
# 7. convert a non zero number to boolean
a=12
b=bool(a)
print(b)

True